<div *ngIf="isLoaded">
  <h2>{{ formSchema.title }}</h2>

  <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let section of formSchema.sections">
      <fieldset class="section">
        <legend>{{ section.title }}</legend>

        <ng-container *ngFor="let field of section.fields">
          <div class="form-field">
            <label>{{ field.label }}</label>

            <!-- Text, email, number, date -->
            <input *ngIf="['text', 'email', 'number', 'date'].includes(field.type)"
                   [type]="field.type"
                   [formControlName]="field.key" />

            <!-- Select -->
            <select *ngIf="field.type === 'select'" [formControlName]="field.key">
              <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
            </select>

            <!-- Validation message -->
            <div *ngIf="appForm.controls[field.key].invalid && appForm.controls[field.key].touched" class="error">
              {{ field.label }} is required
            </div>
          </div>
        </ng-container>
      </fieldset>
    </ng-container>

    <button type="submit">Submit Application</button>
  </form>
</div>
